<div id="post-container">

    <div id="photo-container">
        <h1>Posted Image</h1><br>
        <h3>Title:</h3>
        <h2 class="text-center">{{currentPost.title}}</h2>
        <h3>Author:</h3>
        <h2 class="text-center">{{currentPost.username}}</h2>
        <h3>Time:</h3>
        <h2 class="text-center">{{currentPost.created}}</h2>
        <img src="/{{currentPost.photopath}}" alt="" id="center">
        <h3>Description:</h3>
        <h2 class="text-center">{{currentPost.description}}</h2>
    </div>

    <div id="comment-container">
        <div id="messages">
            {{#each currentPost.comments}}
                {{> comment this}}
            {{/each}}
        </div>

        <div id="comment-box">
            <textarea id="comment-box-text" cols="40" required="" placeholder="Type your comment here..."></textarea>
            <input type="submit" id="comment-button" value="Add Comment">
        </div>

    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted]')
            .forEach((postedDate) => {
                postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
            });
    });

    function addMessage(data) {
        let template = document.createElement('template');
        template.innerHTML =
        `<div id="message-${data.commentId}">
            <strong class="author-text">@${data.username}</strong>
            <span class="date-posted">${new Date().toLocaleString()}</span>
            <div class="comment-text">${data.commentText}</div>
        </div>`;

        document.getElementById('messages').firstChild.before(template.content.firstChild);
    }

    document.getElementById('comment-button').onclick = (event) => {
        let commentText = document.getElementById('comment-box-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

        if (!commentText) {
            return;
        }

        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId, postId
            })
        }
        fetch('/comments/create', fetchOptions)
            .then((response) => response.json())
            .then((data) => {
                if (data.code == 1) {
                    addMessage(data);
                } else {
                    addFlashFromFrontEnd(data.message, data.status);
                }
            })
            .catch(err => console.log(err));
    }
</script>