<div class="view-page">

    <div class="image-box">
        <section id="post">
            <h1>Posted Image</h1><br><br>
            <h3 class="text-center">Title: <br> {{currentPost.title}}</h3><br>
            <h3 class="text-center">Author:<br> {{currentPost.username}}</h3><br>
            <h3 class="text-center">Time: <br> {{currentPost.created}}</h3><br>
            <img src="/{{currentPost.photopath}}" alt="" class="center" height="330" width="600">
            <h3 class="text-center">Description: <br> {{currentPost.description}}</h3><br>
        </section>
    </div>

    <div class="comment-box">
        <form action="submit" method="POST">
            <label>Comment</label>
            <br>
            <br>
            <textarea name="text" cols="40" rows="1.5" wrap="off" required=""
                placeholder="Type your comment here..."></textarea><br>
            <input type="submit" id="submit-button" value="Comment">
        </form>
    </div>

</div>




{{!-- <div class="view-box">

    <h1>Posted Image</h1><br><br> --}}

    {{!-- <div id="info-message-grid">
        <div id="info">
            <header id="image-post-tilte">
                <h2 id="image-post-tilte-text">{{currentPost.title}}</h2><br>
            </header>
            <div id="image-post-author" class="info-tags">{{currentPost.username}}</div>
            <div id="image-post-date" class="info-tags">{{currentPost.created}}</div>
            <div id="image-post-desc" class="info-tags">{{currentPost.description}}</div>


            <div id="comments">
                <header id="comment-title">
                    <h2>Comments</h2>
                </header>
                <div id="comment-list">

                </div>
                <div id="comment-box">
                    <textarea id="comment-box-text"></textarea>
                    <i id="comment-box-button" class=" fa fa-comment" aria-hidden="true"
                        style="text-align: center;"></i>
                </div>
            </div>
        </div>

    </div> --}}

    {{!-- <section id="post">

        <section id="post_title">
            <h2 class="text-center">Title of the Post <br>'Mishima'</h2><br>
        </section>

        <section id="post_image:">
            <img id="image-post-image" src="{{currentPost.photopath}}" alt="Yukio Mishima, Tokyo, 1970" class="center"
                height="530" width="800">
        </section>

        <section id="post_author">
            <h3 class="text-center">Author of the Post<br> 'Abbas'</h3><br>
        </section>

        <section id="post_date">
            <h3 class="text-center">Time of the Post<br>'4:20 AM'</h3><br>
        </section>

    </section>

</div> --}}

{{!-- <div class="comment-box">
    <form action="submit" method="POST">
        <label>Comment</label>
        <br>
        <br>
        <textarea name="text" cols="40" rows="1.5" wrap="off" required=""
            placeholder="Type your comment here..."></textarea><br>
        <input type="submit" id="submit-button" value="Comment">
    </form>
</div>

<div class="view-box">

    <h1>Posted Image</h1><br><br>

    <div id="info-message-grid">
        <div id="info">
            <header id="image-post-tilte">
                <h2 id="image-post-tilte-text">{{currentPost.title}}</h2><br>
            </header>
            <div id="image-post-author" class="info-tags">{{currentPost.username}}</div>
            <div id="image-post-date" class="info-tags">{{currentPost.created}}</div>
            <div id="image-post-desc" class="info-tags">{{currentPost.description}}</div>


            <div id="comments">
                <header id="comment-title">
                    <h2>Comments</h2>
                </header>
                <div id="comment-list">

                </div>
                <div id="comment-box">
                    <textarea id="comment-box-text"></textarea>
                    <i id="comment-box-button" class=" fa fa-comment" aria-hidden="true"
                        style="text-align: center;"></i>
                </div>
            </div>
        </div>

    </div>

    <section id="post">

        <section id="post_title">
            <h2 class="text-center">Title of the Post <br>'Mishima'</h2><br>
        </section>

        <section id="post_image:">
            <img id="image-post-image" src="{{currentPost.photopath}}" alt="Yukio Mishima, Tokyo, 1970" class="center"
                height="530" width="800">
        </section>

        <section id="post_author">
            <h3 class="text-center">Author of the Post<br> 'Abbas'</h3><br>
        </section>

        <section id="post_date">
            <h3 class="text-center">Time of the Post<br>'4:20 AM'</h3><br>
        </section>

    </section>

</div>

<div class="comment-box">
    <form action="submit" method="POST">
        <label>Comment</label>
        <br>
        <br>
        <textarea name="text" cols="40" rows="1.5" wrap="off" required=""
            placeholder="Type your comment here..."></textarea><br>
        <input type="submit" id="submit-button" value="Comment">
    </form>
</div> --}}